@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?65583570');
  src: url('../font/fontello.eot?65583570#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?65583570') format('woff2'),
       url('../font/fontello.woff?65583570') format('woff'),
       url('../font/fontello.ttf?65583570') format('truetype'),
       url('../font/fontello.svg?65583570#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?65583570#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-up-big:before { content: '\e800'; } /* '' */
.icon-right-hand:before { content: '\e801'; } /* '' */
.icon-up-hand:before { content: '\e802'; } /* '' */
.icon-left-hand:before { content: '\e803'; } /* '' */
.icon-down-hand:before { content: '\e804'; } /* '' */
.icon-note:before { content: '\e805'; } /* '' */
.icon-emo-surprised:before { content: '\e806'; } /* '' */
.icon-note-beamed:before { content: '\e807'; } /* '' */
.icon-music:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-flashlight:before { content: '\e80a'; } /* '' */
.icon-mail:before { content: '\e80b'; } /* '' */
.icon-heart:before { content: '\e80c'; } /* '' */
.icon-heart-empty:before { content: '\e80d'; } /* '' */
.icon-star:before { content: '\e80e'; } /* '' */
.icon-star-empty:before { content: '\e80f'; } /* '' */
.icon-user:before { content: '\e810'; } /* '' */
.icon-users:before { content: '\e811'; } /* '' */
.icon-user-add:before { content: '\e812'; } /* '' */
.icon-video:before { content: '\e813'; } /* '' */
.icon-picture:before { content: '\e814'; } /* '' */
.icon-camera:before { content: '\e815'; } /* '' */
.icon-layout:before { content: '\e816'; } /* '' */
.icon-menu:before { content: '\e817'; } /* '' */
.icon-check:before { content: '\e818'; } /* '' */
.icon-cancel:before { content: '\e819'; } /* '' */
.icon-cancel-circled:before { content: '\e81a'; } /* '' */
.icon-cancel-squared:before { content: '\e81b'; } /* '' */
.icon-plus:before { content: '\e81c'; } /* '' */
.icon-plus-circled:before { content: '\e81d'; } /* '' */
.icon-plus-squared:before { content: '\e81e'; } /* '' */
.icon-minus:before { content: '\e81f'; } /* '' */
.icon-minus-circled:before { content: '\e820'; } /* '' */
.icon-minus-squared:before { content: '\e821'; } /* '' */
.icon-help:before { content: '\e822'; } /* '' */
.icon-help-circled:before { content: '\e823'; } /* '' */
.icon-info:before { content: '\e824'; } /* '' */
.icon-info-circled:before { content: '\e825'; } /* '' */
.icon-back:before { content: '\e826'; } /* '' */
.icon-home:before { content: '\e827'; } /* '' */
.icon-link:before { content: '\e828'; } /* '' */
.icon-attach:before { content: '\e829'; } /* '' */
.icon-lock:before { content: '\e82a'; } /* '' */
.icon-lock-open:before { content: '\e82b'; } /* '' */
.icon-eye:before { content: '\e82c'; } /* '' */
.icon-tag:before { content: '\e82d'; } /* '' */
.icon-bookmark:before { content: '\e82e'; } /* '' */
.icon-bookmarks:before { content: '\e82f'; } /* '' */
.icon-flag:before { content: '\e830'; } /* '' */
.icon-thumbs-up:before { content: '\e831'; } /* '' */
.icon-thumbs-down:before { content: '\e832'; } /* '' */
.icon-download:before { content: '\e833'; } /* '' */
.icon-upload:before { content: '\e834'; } /* '' */
.icon-upload-cloud:before { content: '\e835'; } /* '' */
.icon-reply:before { content: '\e836'; } /* '' */
.icon-reply-all:before { content: '\e837'; } /* '' */
.icon-forward:before { content: '\e838'; } /* '' */
.icon-quote:before { content: '\e839'; } /* '' */
.icon-code:before { content: '\e83a'; } /* '' */
.icon-export:before { content: '\e83b'; } /* '' */
.icon-pencil:before { content: '\e83c'; } /* '' */
.icon-feather:before { content: '\e83d'; } /* '' */
.icon-print:before { content: '\e83e'; } /* '' */
.icon-retweet:before { content: '\e83f'; } /* '' */
.icon-keyboard:before { content: '\e840'; } /* '' */
.icon-comment:before { content: '\e841'; } /* '' */
.icon-chat:before { content: '\e842'; } /* '' */
.icon-bell:before { content: '\e843'; } /* '' */
.icon-attention:before { content: '\e844'; } /* '' */
.icon-alert:before { content: '\e845'; } /* '' */
.icon-crown-minus:before { content: '\e846'; } /* '' */
.icon-vcard:before { content: '\e847'; } /* '' */
.icon-address:before { content: '\e848'; } /* '' */
.icon-location:before { content: '\e849'; } /* '' */
.icon-map:before { content: '\e84a'; } /* '' */
.icon-direction:before { content: '\e84b'; } /* '' */
.icon-compass:before { content: '\e84c'; } /* '' */
.icon-cup:before { content: '\e84d'; } /* '' */
.icon-trash:before { content: '\e84e'; } /* '' */
.icon-doc:before { content: '\e84f'; } /* '' */
.icon-docs:before { content: '\e850'; } /* '' */
.icon-doc-landscape:before { content: '\e851'; } /* '' */
.icon-doc-text:before { content: '\e852'; } /* '' */
.icon-doc-text-inv:before { content: '\e853'; } /* '' */
.icon-newspaper:before { content: '\e854'; } /* '' */
.icon-book-open:before { content: '\e855'; } /* '' */
.icon-book:before { content: '\e856'; } /* '' */
.icon-folder:before { content: '\e857'; } /* '' */
.icon-archive:before { content: '\e858'; } /* '' */
.icon-box:before { content: '\e859'; } /* '' */
.icon-rss:before { content: '\e85a'; } /* '' */
.icon-phone:before { content: '\e85b'; } /* '' */
.icon-cog:before { content: '\e85c'; } /* '' */
.icon-tools:before { content: '\e85d'; } /* '' */
.icon-share:before { content: '\e85e'; } /* '' */
.icon-shareable:before { content: '\e85f'; } /* '' */
.icon-basket:before { content: '\e860'; } /* '' */
.icon-bag:before { content: '\e861'; } /* '' */
.icon-calendar:before { content: '\e862'; } /* '' */
.icon-login:before { content: '\e863'; } /* '' */
.icon-logout:before { content: '\e864'; } /* '' */
.icon-mic:before { content: '\e865'; } /* '' */
.icon-mute:before { content: '\e866'; } /* '' */
.icon-sound:before { content: '\e867'; } /* '' */
.icon-volume:before { content: '\e868'; } /* '' */
.icon-clock:before { content: '\e869'; } /* '' */
.icon-hourglass:before { content: '\e86a'; } /* '' */
.icon-lamp:before { content: '\e86b'; } /* '' */
.icon-light-down:before { content: '\e86c'; } /* '' */
.icon-light-up:before { content: '\e86d'; } /* '' */
.icon-adjust:before { content: '\e86e'; } /* '' */
.icon-block:before { content: '\e86f'; } /* '' */
.icon-resize-full:before { content: '\e870'; } /* '' */
.icon-resize-small:before { content: '\e871'; } /* '' */
.icon-popup:before { content: '\e872'; } /* '' */
.icon-publish:before { content: '\e873'; } /* '' */
.icon-window:before { content: '\e874'; } /* '' */
.icon-arrow-combo:before { content: '\e875'; } /* '' */
.icon-down-circled:before { content: '\e876'; } /* '' */
.icon-left-circled-1:before { content: '\e877'; } /* '' */
.icon-right-circled:before { content: '\e878'; } /* '' */
.icon-up-circled:before { content: '\e879'; } /* '' */
.icon-down-open:before { content: '\e87a'; } /* '' */
.icon-left-open:before { content: '\e87b'; } /* '' */
.icon-right-open:before { content: '\e87c'; } /* '' */
.icon-up-open:before { content: '\e87d'; } /* '' */
.icon-down-open-mini:before { content: '\e87e'; } /* '' */
.icon-left-open-mini:before { content: '\e87f'; } /* '' */
.icon-right-open-mini:before { content: '\e880'; } /* '' */
.icon-up-open-mini:before { content: '\e881'; } /* '' */
.icon-down-open-big:before { content: '\e882'; } /* '' */
.icon-left-open-big:before { content: '\e883'; } /* '' */
.icon-glass:before { content: '\e884'; } /* '' */
.icon-music-1:before { content: '\e885'; } /* '' */
.icon-search-1:before { content: '\e886'; } /* '' */
.icon-mail-1:before { content: '\e887'; } /* '' */
.icon-heart-1:before { content: '\e888'; } /* '' */
.icon-heart-empty-1:before { content: '\e889'; } /* '' */
.icon-star-1:before { content: '\e88a'; } /* '' */
.icon-star-empty-1:before { content: '\e88b'; } /* '' */
.icon-star-half:before { content: '\e88c'; } /* '' */
.icon-user-1:before { content: '\e88d'; } /* '' */
.icon-users-1:before { content: '\e88e'; } /* '' */
.icon-video-1:before { content: '\e88f'; } /* '' */
.icon-videocam:before { content: '\e890'; } /* '' */
.icon-picture-1:before { content: '\e891'; } /* '' */
.icon-camera-1:before { content: '\e892'; } /* '' */
.icon-camera-alt:before { content: '\e893'; } /* '' */
.icon-th-large:before { content: '\e894'; } /* '' */
.icon-th:before { content: '\e895'; } /* '' */
.icon-th-list:before { content: '\e896'; } /* '' */
.icon-ok:before { content: '\e897'; } /* '' */
.icon-ok-circled:before { content: '\e898'; } /* '' */
.icon-ok-circled2:before { content: '\e899'; } /* '' */
.icon-cancel-1:before { content: '\e89a'; } /* '' */
.icon-cancel-circled-1:before { content: '\e89b'; } /* '' */
.icon-cancel-circled2:before { content: '\e89c'; } /* '' */
.icon-plus-1:before { content: '\e89d'; } /* '' */
.icon-plus-circled-1:before { content: '\e89e'; } /* '' */
.icon-minus-1:before { content: '\e89f'; } /* '' */
.icon-minus-circled-1:before { content: '\e8a0'; } /* '' */
.icon-help-circled-1:before { content: '\e8a1'; } /* '' */
.icon-info-circled-1:before { content: '\e8a2'; } /* '' */
.icon-home-1:before { content: '\e8a3'; } /* '' */
.icon-link-1:before { content: '\e8a4'; } /* '' */
.icon-attach-1:before { content: '\e8a5'; } /* '' */
.icon-lock-1:before { content: '\e8a6'; } /* '' */
.icon-lock-open-1:before { content: '\e8a7'; } /* '' */
.icon-pin:before { content: '\e8a8'; } /* '' */
.icon-eye-1:before { content: '\e8a9'; } /* '' */
.icon-eye-off:before { content: '\e8aa'; } /* '' */
.icon-tag-1:before { content: '\e8ab'; } /* '' */
.icon-tags:before { content: '\e8ac'; } /* '' */
.icon-bookmark-1:before { content: '\e8ad'; } /* '' */
.icon-flag-1:before { content: '\e8ae'; } /* '' */
.icon-thumbs-up-1:before { content: '\e8af'; } /* '' */
.icon-thumbs-down-1:before { content: '\e8b0'; } /* '' */
.icon-download-1:before { content: '\e8b1'; } /* '' */
.icon-upload-1:before { content: '\e8b2'; } /* '' */
.icon-forward-1:before { content: '\e8b3'; } /* '' */
.icon-export-1:before { content: '\e8b4'; } /* '' */
.icon-pencil-1:before { content: '\e8b5'; } /* '' */
.icon-edit:before { content: '\e8b6'; } /* '' */
.icon-print-1:before { content: '\e8b7'; } /* '' */
.icon-retweet-1:before { content: '\e8b8'; } /* '' */
.icon-comment-1:before { content: '\e8b9'; } /* '' */
.icon-chat-1:before { content: '\e8ba'; } /* '' */
.icon-bell-1:before { content: '\e8bb'; } /* '' */
.icon-attention-1:before { content: '\e8bc'; } /* '' */
.icon-attention-circled:before { content: '\e8bd'; } /* '' */
.icon-location-1:before { content: '\e8be'; } /* '' */
.icon-trash-empty:before { content: '\e8bf'; } /* '' */
.icon-doc-1:before { content: '\e8c0'; } /* '' */
.icon-folder-1:before { content: '\e8c1'; } /* '' */
.icon-folder-open:before { content: '\e8c2'; } /* '' */
.icon-search-2:before { content: '\e8c3'; } /* '' */
.icon-mail-2:before { content: '\e8c4'; } /* '' */
.icon-heart-2:before { content: '\e8c5'; } /* '' */
.icon-heart-empty-2:before { content: '\e8c6'; } /* '' */
.icon-star-2:before { content: '\e8c7'; } /* '' */
.icon-user-2:before { content: '\e8c8'; } /* '' */
.icon-video-2:before { content: '\e8c9'; } /* '' */
.icon-picture-2:before { content: '\e8ca'; } /* '' */
.icon-camera-2:before { content: '\e8cb'; } /* '' */
.icon-ok-1:before { content: '\e8cc'; } /* '' */
.icon-ok-circle:before { content: '\e8cd'; } /* '' */
.icon-cancel-2:before { content: '\e8ce'; } /* '' */
.icon-cancel-circle:before { content: '\e8cf'; } /* '' */
.icon-plus-2:before { content: '\e8d0'; } /* '' */
.icon-plus-circle:before { content: '\e8d1'; } /* '' */
.icon-minus-2:before { content: '\e8d2'; } /* '' */
.icon-minus-circle:before { content: '\e8d3'; } /* '' */
.icon-help-2:before { content: '\e8d4'; } /* '' */
.icon-info-2:before { content: '\e8d5'; } /* '' */
.icon-home-2:before { content: '\e8d6'; } /* '' */
.icon-link-2:before { content: '\e8d7'; } /* '' */
.icon-attach-2:before { content: '\e8d8'; } /* '' */
.icon-lock-2:before { content: '\e8d9'; } /* '' */
.icon-lock-empty:before { content: '\e8da'; } /* '' */
.icon-lock-open-2:before { content: '\e8db'; } /* '' */
.icon-lock-open-empty:before { content: '\e8dc'; } /* '' */
.icon-pin-1:before { content: '\e8dd'; } /* '' */
.icon-eye-2:before { content: '\e8de'; } /* '' */
.icon-tag-2:before { content: '\e8df'; } /* '' */
.icon-tag-empty:before { content: '\e8e0'; } /* '' */
.icon-download-2:before { content: '\e8e1'; } /* '' */
.icon-upload-2:before { content: '\e8e2'; } /* '' */
.icon-download-cloud-1:before { content: '\e8e3'; } /* '' */
.icon-upload-cloud-2:before { content: '\e8e4'; } /* '' */
.icon-quote-left-1:before { content: '\e8e5'; } /* '' */
.icon-quote-right-1:before { content: '\e8e6'; } /* '' */
.icon-quote-left-alt:before { content: '\e8e7'; } /* '' */
.icon-quote-right-alt:before { content: '\e8e8'; } /* '' */
.icon-pencil-2:before { content: '\e8e9'; } /* '' */
.icon-pencil-neg:before { content: '\e8ea'; } /* '' */
.icon-pencil-alt:before { content: '\e8eb'; } /* '' */
.icon-undo:before { content: '\e8ec'; } /* '' */
.icon-comment-2:before { content: '\e8ed'; } /* '' */
.icon-comment-inv:before { content: '\e8ee'; } /* '' */
.icon-comment-alt:before { content: '\e8ef'; } /* '' */
.icon-comment-inv-alt:before { content: '\e8f0'; } /* '' */
.icon-comment-alt2:before { content: '\e8f1'; } /* '' */
.icon-comment-inv-alt2:before { content: '\e8f2'; } /* '' */
.icon-chat-2:before { content: '\e8f3'; } /* '' */
.icon-chat-inv:before { content: '\e8f4'; } /* '' */
.icon-location-2:before { content: '\e8f5'; } /* '' */
.icon-location-inv:before { content: '\e8f6'; } /* '' */
.icon-location-alt:before { content: '\e8f7'; } /* '' */
.icon-compass-2:before { content: '\e8f8'; } /* '' */
.icon-trash-2:before { content: '\e8f9'; } /* '' */
.icon-trash-empty-1:before { content: '\e8fa'; } /* '' */
.icon-doc-2:before { content: '\e8fb'; } /* '' */
.icon-doc-inv-1:before { content: '\e8fc'; } /* '' */
.icon-doc-alt:before { content: '\e8fd'; } /* '' */
.icon-doc-inv-alt:before { content: '\e8fe'; } /* '' */
.icon-article:before { content: '\e8ff'; } /* '' */
.icon-article-alt:before { content: '\e900'; } /* '' */
.icon-book-open-1:before { content: '\e901'; } /* '' */
.icon-folder-2:before { content: '\e902'; } /* '' */
.icon-folder-empty-1:before { content: '\e903'; } /* '' */
.icon-box-1:before { content: '\e904'; } /* '' */
.icon-rss-1:before { content: '\e905'; } /* '' */
.icon-rss-alt:before { content: '\e906'; } /* '' */
.icon-cog-1:before { content: '\e907'; } /* '' */
.icon-wrench:before { content: '\e908'; } /* '' */
.icon-share-2:before { content: '\e909'; } /* '' */
.icon-calendar-1:before { content: '\e90a'; } /* '' */
.icon-calendar-inv:before { content: '\e90b'; } /* '' */
.icon-calendar-alt:before { content: '\e90c'; } /* '' */
.icon-mic-1:before { content: '\e90d'; } /* '' */
.icon-windy-rain-inv:before { content: '\e90e'; } /* '' */
.icon-snow-inv:before { content: '\e90f'; } /* '' */
.icon-snow-heavy-inv:before { content: '\e910'; } /* '' */
.icon-hail-inv:before { content: '\e911'; } /* '' */
.icon-clouds-inv:before { content: '\e912'; } /* '' */
.icon-clouds-flash-inv:before { content: '\e913'; } /* '' */
.icon-temperature:before { content: '\e914'; } /* '' */
.icon-compass-3:before { content: '\e915'; } /* '' */
.icon-na:before { content: '\e916'; } /* '' */
.icon-celcius:before { content: '\e917'; } /* '' */
.icon-fahrenheit:before { content: '\e918'; } /* '' */
.icon-clouds-flash-alt:before { content: '\e919'; } /* '' */
.icon-sun-inv:before { content: '\e91a'; } /* '' */
.icon-moon-inv:before { content: '\e91b'; } /* '' */
.icon-cloud-sun-inv:before { content: '\e91c'; } /* '' */
.icon-cloud-moon-inv:before { content: '\e91d'; } /* '' */
.icon-cloud-inv:before { content: '\e91e'; } /* '' */
.icon-cloud-flash-inv:before { content: '\e91f'; } /* '' */
.icon-drizzle-inv:before { content: '\e920'; } /* '' */
.icon-rain-inv:before { content: '\e921'; } /* '' */
.icon-windy-inv:before { content: '\e922'; } /* '' */
.icon-sunrise:before { content: '\e923'; } /* '' */
.icon-sun:before { content: '\e924'; } /* '' */
.icon-moon:before { content: '\e925'; } /* '' */
.icon-mist:before { content: '\e926'; } /* '' */
.icon-wind:before { content: '\e927'; } /* '' */
.icon-snowflake:before { content: '\e928'; } /* '' */
.icon-cloud-sun:before { content: '\e929'; } /* '' */
.icon-cloud-moon:before { content: '\e92a'; } /* '' */
.icon-fog-sun:before { content: '\e92b'; } /* '' */
.icon-fog-moon:before { content: '\e92c'; } /* '' */
.icon-fog-cloud:before { content: '\e92d'; } /* '' */
.icon-fog:before { content: '\e92e'; } /* '' */
.icon-cloud:before { content: '\e92f'; } /* '' */
.icon-cloud-flash:before { content: '\e930'; } /* '' */
.icon-cloud-flash-alt:before { content: '\e931'; } /* '' */
.icon-drizzle:before { content: '\e932'; } /* '' */
.icon-rain:before { content: '\e933'; } /* '' */
.icon-windy:before { content: '\e934'; } /* '' */
.icon-windy-rain:before { content: '\e935'; } /* '' */
.icon-snow:before { content: '\e936'; } /* '' */
.icon-snow-alt:before { content: '\e937'; } /* '' */
.icon-snow-heavy:before { content: '\e938'; } /* '' */
.icon-hail:before { content: '\e939'; } /* '' */
.icon-clouds:before { content: '\e93a'; } /* '' */
.icon-clouds-flash:before { content: '\e93b'; } /* '' */
.icon-search-3:before { content: '\e93c'; } /* '' */
.icon-mail-3:before { content: '\e93d'; } /* '' */
.icon-heart-3:before { content: '\e93e'; } /* '' */
.icon-heart-empty-3:before { content: '\e93f'; } /* '' */
.icon-star-3:before { content: '\e940'; } /* '' */
.icon-user-3:before { content: '\e941'; } /* '' */
.icon-video-3:before { content: '\e942'; } /* '' */
.icon-picture-3:before { content: '\e943'; } /* '' */
.icon-th-large-1:before { content: '\e944'; } /* '' */
.icon-th-1:before { content: '\e945'; } /* '' */
.icon-th-list-1:before { content: '\e946'; } /* '' */
.icon-ok-2:before { content: '\e947'; } /* '' */
.icon-ok-circle-1:before { content: '\e948'; } /* '' */
.icon-cancel-3:before { content: '\e949'; } /* '' */
.icon-cancel-circle-1:before { content: '\e94a'; } /* '' */
.icon-plus-circle-1:before { content: '\e94b'; } /* '' */
.icon-minus-circle-1:before { content: '\e94c'; } /* '' */
.icon-link-3:before { content: '\e94d'; } /* '' */
.icon-attach-3:before { content: '\e94e'; } /* '' */
.icon-lock-3:before { content: '\e94f'; } /* '' */
.icon-lock-open-3:before { content: '\e950'; } /* '' */
.icon-tag-3:before { content: '\e951'; } /* '' */
.icon-reply-2:before { content: '\e952'; } /* '' */
.icon-reply-all-2:before { content: '\e953'; } /* '' */
.icon-forward-2:before { content: '\e954'; } /* '' */
.icon-code-2:before { content: '\e955'; } /* '' */
.icon-retweet-2:before { content: '\e956'; } /* '' */
.icon-comment-3:before { content: '\e957'; } /* '' */
.icon-comment-alt-1:before { content: '\e958'; } /* '' */
.icon-chat-3:before { content: '\e959'; } /* '' */
.icon-attention-2:before { content: '\e95a'; } /* '' */
.icon-location-3:before { content: '\e95b'; } /* '' */
.icon-doc-3:before { content: '\e95c'; } /* '' */
.icon-docs-landscape:before { content: '\e95d'; } /* '' */
.icon-folder-3:before { content: '\e95e'; } /* '' */
.icon-archive-1:before { content: '\e95f'; } /* '' */
.icon-rss-2:before { content: '\e960'; } /* '' */
.icon-rss-alt-1:before { content: '\e961'; } /* '' */
.icon-cog-2:before { content: '\e962'; } /* '' */
.icon-logout-1:before { content: '\e963'; } /* '' */
.icon-clock-1:before { content: '\e964'; } /* '' */
.icon-block-1:before { content: '\e965'; } /* '' */
.icon-resize-full-1:before { content: '\e966'; } /* '' */
.icon-resize-full-circle:before { content: '\e967'; } /* '' */
.icon-popup-1:before { content: '\e968'; } /* '' */
.icon-left-open-1:before { content: '\e969'; } /* '' */
.icon-right-open-1:before { content: '\e96a'; } /* '' */
.icon-down-circle:before { content: '\e96b'; } /* '' */
.icon-left-circle:before { content: '\e96c'; } /* '' */
.icon-right-circle:before { content: '\e96d'; } /* '' */
.icon-glass-1:before { content: '\e96e'; } /* '' */
.icon-music-2:before { content: '\e96f'; } /* '' */
.icon-search-4:before { content: '\e970'; } /* '' */
.icon-search-circled:before { content: '\e971'; } /* '' */
.icon-mail-4:before { content: '\e972'; } /* '' */
.icon-mail-circled:before { content: '\e973'; } /* '' */
.icon-heart-4:before { content: '\e974'; } /* '' */
.icon-heart-circled:before { content: '\e975'; } /* '' */
.icon-heart-empty-4:before { content: '\e976'; } /* '' */
.icon-star-4:before { content: '\e977'; } /* '' */
.icon-star-circled:before { content: '\e978'; } /* '' */
.icon-star-empty-2:before { content: '\e979'; } /* '' */
.icon-user-4:before { content: '\e97a'; } /* '' */
.icon-group:before { content: '\e97b'; } /* '' */
.icon-group-circled:before { content: '\e97c'; } /* '' */
.icon-torso:before { content: '\e97d'; } /* '' */
.icon-video-4:before { content: '\e97e'; } /* '' */
.icon-video-circled:before { content: '\e97f'; } /* '' */
.icon-video-alt:before { content: '\e980'; } /* '' */
.icon-videocam-1:before { content: '\e981'; } /* '' */
.icon-video-chat:before { content: '\e982'; } /* '' */
.icon-picture-4:before { content: '\e983'; } /* '' */
.icon-camera-3:before { content: '\e984'; } /* '' */
.icon-photo:before { content: '\e985'; } /* '' */
.icon-photo-circled:before { content: '\e986'; } /* '' */
.icon-th-large-2:before { content: '\e987'; } /* '' */
.icon-th-2:before { content: '\e988'; } /* '' */
.icon-th-list-2:before { content: '\e989'; } /* '' */
.icon-view-mode:before { content: '\e98a'; } /* '' */
.icon-ok-3:before { content: '\e98b'; } /* '' */
.icon-ok-circled-1:before { content: '\e98c'; } /* '' */
.icon-ok-circled2-1:before { content: '\e98d'; } /* '' */
.icon-cancel-4:before { content: '\e98e'; } /* '' */
.icon-cancel-circled-2:before { content: '\e98f'; } /* '' */
.icon-cancel-circled2-1:before { content: '\e990'; } /* '' */
.icon-plus-3:before { content: '\e991'; } /* '' */
.icon-plus-circled-2:before { content: '\e992'; } /* '' */
.icon-minus-3:before { content: '\e993'; } /* '' */
.icon-minus-circled-2:before { content: '\e994'; } /* '' */
.icon-help-3:before { content: '\e995'; } /* '' */
.icon-help-circled-2:before { content: '\e996'; } /* '' */
.icon-info-circled-2:before { content: '\e997'; } /* '' */
.icon-home-3:before { content: '\e998'; } /* '' */
.icon-home-circled:before { content: '\e999'; } /* '' */
.icon-website:before { content: '\e99a'; } /* '' */
.icon-website-circled:before { content: '\e99b'; } /* '' */
.icon-attach-4:before { content: '\e99c'; } /* '' */
.icon-attach-circled:before { content: '\e99d'; } /* '' */
.icon-lock-4:before { content: '\e99e'; } /* '' */
.icon-lock-circled:before { content: '\e99f'; } /* '' */
.icon-lock-open-4:before { content: '\e9a0'; } /* '' */
.icon-lock-open-alt-1:before { content: '\e9a1'; } /* '' */
.icon-eye-3:before { content: '\e9a2'; } /* '' */
.icon-eye-off-1:before { content: '\e9a3'; } /* '' */
.icon-tag-4:before { content: '\e9a4'; } /* '' */
.icon-tags-1:before { content: '\e9a5'; } /* '' */
.icon-bookmark-2:before { content: '\e9a6'; } /* '' */
.icon-bookmark-empty-1:before { content: '\e9a7'; } /* '' */
.icon-flag-2:before { content: '\e9a8'; } /* '' */
.icon-flag-circled:before { content: '\e9a9'; } /* '' */
.icon-thumbs-up-2:before { content: '\e9aa'; } /* '' */
.icon-thumbs-down-2:before { content: '\e9ab'; } /* '' */
.icon-download-3:before { content: '\e9ac'; } /* '' */
.icon-download-alt:before { content: '\e9ad'; } /* '' */
.icon-upload-3:before { content: '\e9ae'; } /* '' */
.icon-share-3:before { content: '\e9af'; } /* '' */
.icon-quote-1:before { content: '\e9b0'; } /* '' */
.icon-quote-circled:before { content: '\e9b1'; } /* '' */
.icon-export-2:before { content: '\e9b2'; } /* '' */
.icon-pencil-3:before { content: '\e9b3'; } /* '' */
.icon-pencil-circled:before { content: '\e9b4'; } /* '' */
.icon-edit-1:before { content: '\e9b5'; } /* '' */
.icon-edit-circled:before { content: '\e9b6'; } /* '' */
.icon-edit-alt:before { content: '\e9b7'; } /* '' */
.icon-print-2:before { content: '\e9b8'; } /* '' */
.icon-retweet-3:before { content: '\e9b9'; } /* '' */
.icon-comment-4:before { content: '\e9ba'; } /* '' */
.icon-comment-alt-2:before { content: '\e9bb'; } /* '' */
.icon-bell-2:before { content: '\e9bc'; } /* '' */
.icon-warning:before { content: '\e9bd'; } /* '' */
.icon-exclamation:before { content: '\e9be'; } /* '' */
.icon-error:before { content: '\e9bf'; } /* '' */
.icon-error-alt:before { content: '\e9c0'; } /* '' */
.icon-location-4:before { content: '\e9c1'; } /* '' */
.icon-location-circled:before { content: '\e9c2'; } /* '' */
.icon-compass-4:before { content: '\e9c3'; } /* '' */
.icon-compass-circled:before { content: '\e9c4'; } /* '' */
.icon-trash-3:before { content: '\e9c5'; } /* '' */
.icon-trash-circled:before { content: '\e9c6'; } /* '' */
.icon-doc-4:before { content: '\e9c7'; } /* '' */
.icon-doc-circled:before { content: '\e9c8'; } /* '' */
.icon-doc-new:before { content: '\e9c9'; } /* '' */
.icon-doc-new-circled:before { content: '\e9ca'; } /* '' */
.icon-folder-4:before { content: '\e9cb'; } /* '' */
.icon-folder-circled:before { content: '\e9cc'; } /* '' */
.icon-folder-close:before { content: '\e9cd'; } /* '' */
.icon-folder-open-1:before { content: '\e9ce'; } /* '' */
.icon-rss-3:before { content: '\e9cf'; } /* '' */
.icon-phone-1:before { content: '\e9d0'; } /* '' */
.icon-phone-circled:before { content: '\e9d1'; } /* '' */
.icon-cog-3:before { content: '\e9d2'; } /* '' */
.icon-cog-circled:before { content: '\e9d3'; } /* '' */
.icon-cogs:before { content: '\e9d4'; } /* '' */
.icon-wrench-1:before { content: '\e9d5'; } /* '' */
.icon-wrench-circled:before { content: '\e9d6'; } /* '' */
.icon-basket-1:before { content: '\e9d7'; } /* '' */
.icon-basket-circled:before { content: '\e9d8'; } /* '' */
.icon-calendar-2:before { content: '\e9d9'; } /* '' */
.icon-calendar-circled:before { content: '\e9da'; } /* '' */
.icon-mic-2:before { content: '\e9db'; } /* '' */
.icon-mic-circled:before { content: '\e9dc'; } /* '' */
.icon-volume-off:before { content: '\e9dd'; } /* '' */
.icon-volume-down:before { content: '\e9de'; } /* '' */
.icon-volume-1:before { content: '\e9df'; } /* '' */
.icon-volume-up:before { content: '\e9e0'; } /* '' */
.icon-headphones:before { content: '\e9e1'; } /* '' */
.icon-clock-2:before { content: '\e9e2'; } /* '' */
.icon-clock-circled:before { content: '\e9e3'; } /* '' */
.icon-lightbulb:before { content: '\e9e4'; } /* '' */
.icon-lightbulb-alt:before { content: '\e9e5'; } /* '' */
.icon-block-2:before { content: '\e9e6'; } /* '' */
.icon-resize-full-2:before { content: '\e9e7'; } /* '' */
.icon-resize-full-alt:before { content: '\e9e8'; } /* '' */
.icon-resize-small-1:before { content: '\e9e9'; } /* '' */
.icon-resize-vertical:before { content: '\e9ea'; } /* '' */
.icon-resize-horizontal:before { content: '\e9eb'; } /* '' */
.icon-move:before { content: '\e9ec'; } /* '' */
.icon-zoom-in:before { content: '\e9ed'; } /* '' */
.icon-zoom-out:before { content: '\e9ee'; } /* '' */
.icon-down-open-1:before { content: '\e9ef'; } /* '' */
.icon-left-open-2:before { content: '\e9f0'; } /* '' */
.icon-right-open-2:before { content: '\e9f1'; } /* '' */
.icon-up-open-1:before { content: '\e9f2'; } /* '' */
.icon-down:before { content: '\e9f3'; } /* '' */
.icon-left:before { content: '\e9f4'; } /* '' */
.icon-right:before { content: '\e9f5'; } /* '' */
.icon-up:before { content: '\e9f6'; } /* '' */
.icon-down-circled-1:before { content: '\e9f7'; } /* '' */
.icon-left-circled-2:before { content: '\e9f8'; } /* '' */
.icon-right-circled-1:before { content: '\e9f9'; } /* '' */
.icon-up-circled-1:before { content: '\e9fa'; } /* '' */
.icon-down-hand-1:before { content: '\e9fb'; } /* '' */
.icon-left-hand-1:before { content: '\e9fc'; } /* '' */
.icon-right-hand-1:before { content: '\e9fd'; } /* '' */
.icon-up-hand-1:before { content: '\e9fe'; } /* '' */
.icon-cw:before { content: '\e9ff'; } /* '' */
.icon-cw-circled:before { content: '\ea00'; } /* '' */
.icon-arrows-cw:before { content: '\ea01'; } /* '' */
.icon-shuffle:before { content: '\ea02'; } /* '' */
.icon-play:before { content: '\ea03'; } /* '' */
.icon-play-circled:before { content: '\ea04'; } /* '' */
.icon-play-circled2:before { content: '\ea05'; } /* '' */
.icon-stop:before { content: '\ea06'; } /* '' */
.icon-stop-circled:before { content: '\ea07'; } /* '' */
.icon-pause:before { content: '\ea08'; } /* '' */
.icon-pause-circled:before { content: '\ea09'; } /* '' */
.icon-record:before { content: '\ea0a'; } /* '' */
.icon-eject:before { content: '\ea0b'; } /* '' */
.icon-backward:before { content: '\ea0c'; } /* '' */
.icon-backward-circled:before { content: '\ea0d'; } /* '' */
.icon-fast-backward:before { content: '\ea0e'; } /* '' */
.icon-fast-forward:before { content: '\ea0f'; } /* '' */
.icon-forward-3:before { content: '\ea10'; } /* '' */
.icon-forward-circled:before { content: '\ea11'; } /* '' */
.icon-step-backward:before { content: '\ea12'; } /* '' */
.icon-step-forward:before { content: '\ea13'; } /* '' */
.icon-target:before { content: '\ea14'; } /* '' */
.icon-signal:before { content: '\ea15'; } /* '' */
.icon-desktop:before { content: '\ea16'; } /* '' */
.icon-desktop-circled:before { content: '\ea17'; } /* '' */
.icon-laptop:before { content: '\ea18'; } /* '' */
.icon-laptop-circled:before { content: '\ea19'; } /* '' */
.icon-network:before { content: '\ea1a'; } /* '' */
.icon-inbox:before { content: '\ea1b'; } /* '' */
.icon-inbox-circled:before { content: '\ea1c'; } /* '' */
.icon-aboveground-rail:before { content: '\ea1d'; } /* '' */
.icon-airfield:before { content: '\ea1e'; } /* '' */
.icon-airport:before { content: '\ea1f'; } /* '' */
.icon-art-gallery:before { content: '\ea20'; } /* '' */
.icon-bar:before { content: '\ea21'; } /* '' */
.icon-baseball:before { content: '\ea22'; } /* '' */
.icon-basketball:before { content: '\ea23'; } /* '' */
.icon-beer:before { content: '\ea24'; } /* '' */
.icon-belowground-rail:before { content: '\ea25'; } /* '' */
.icon-bicycle:before { content: '\ea26'; } /* '' */
.icon-bus:before { content: '\ea27'; } /* '' */
.icon-cafe:before { content: '\ea28'; } /* '' */
.icon-campsite:before { content: '\ea29'; } /* '' */
.icon-cemetery:before { content: '\ea2a'; } /* '' */
.icon-cinema:before { content: '\ea2b'; } /* '' */
.icon-college:before { content: '\ea2c'; } /* '' */
.icon-commerical-building:before { content: '\ea2d'; } /* '' */
.icon-credit-card:before { content: '\ea2e'; } /* '' */
.icon-cricket:before { content: '\ea2f'; } /* '' */
.icon-embassy:before { content: '\ea30'; } /* '' */
.icon-fast-food:before { content: '\ea31'; } /* '' */
.icon-ferry:before { content: '\ea32'; } /* '' */
.icon-fire-station:before { content: '\ea33'; } /* '' */
.icon-football:before { content: '\ea34'; } /* '' */
.icon-fuel:before { content: '\ea35'; } /* '' */
.icon-garden:before { content: '\ea36'; } /* '' */
.icon-giraffe:before { content: '\ea37'; } /* '' */
.icon-golf:before { content: '\ea38'; } /* '' */
.icon-grocery-store:before { content: '\ea39'; } /* '' */
.icon-harbor:before { content: '\ea3a'; } /* '' */
.icon-heliport:before { content: '\ea3b'; } /* '' */
.icon-hospital:before { content: '\ea3c'; } /* '' */
.icon-industrial-building:before { content: '\ea3d'; } /* '' */
.icon-library:before { content: '\ea3e'; } /* '' */
.icon-lodging:before { content: '\ea3f'; } /* '' */
.icon-london-underground:before { content: '\ea40'; } /* '' */
.icon-minefield:before { content: '\ea41'; } /* '' */
.icon-monument:before { content: '\ea42'; } /* '' */
.icon-museum:before { content: '\ea43'; } /* '' */
.icon-pharmacy:before { content: '\ea44'; } /* '' */
.icon-pitch:before { content: '\ea45'; } /* '' */
.icon-police:before { content: '\ea46'; } /* '' */
.icon-post:before { content: '\ea47'; } /* '' */
.icon-prison:before { content: '\ea48'; } /* '' */
.icon-rail:before { content: '\ea49'; } /* '' */
.icon-religious-christian:before { content: '\ea4a'; } /* '' */
.icon-religious-islam:before { content: '\ea4b'; } /* '' */
.icon-religious-jewish:before { content: '\ea4c'; } /* '' */
.icon-restaurant:before { content: '\ea4d'; } /* '' */
.icon-roadblock:before { content: '\ea4e'; } /* '' */
.icon-school:before { content: '\ea4f'; } /* '' */
.icon-shop:before { content: '\ea50'; } /* '' */
.icon-skiing:before { content: '\ea51'; } /* '' */
.icon-soccer:before { content: '\ea52'; } /* '' */
.icon-swimming:before { content: '\ea53'; } /* '' */
.icon-tennis:before { content: '\ea54'; } /* '' */
.icon-theatre:before { content: '\ea55'; } /* '' */
.icon-toilet:before { content: '\ea56'; } /* '' */
.icon-town-hall:before { content: '\ea57'; } /* '' */
.icon-trash-4:before { content: '\ea58'; } /* '' */
.icon-tree-1:before { content: '\ea59'; } /* '' */
.icon-tree-2:before { content: '\ea5a'; } /* '' */
.icon-warehouse:before { content: '\ea5b'; } /* '' */
.icon-flash:before { content: '\ea5c'; } /* '' */
.icon-cloud-1:before { content: '\ea5d'; } /* '' */
.icon-vector-pencil:before { content: '\ea5e'; } /* '' */
.icon-at:before { content: '\ea5f'; } /* '' */
.icon-female-1:before { content: '\ea60'; } /* '' */
.icon-male-1:before { content: '\ea61'; } /* '' */
.icon-king:before { content: '\ea62'; } /* '' */
.icon-anchor:before { content: '\ea63'; } /* '' */
.icon-coverflow:before { content: '\f00c'; } /* '' */
.icon-coverflow-empty:before { content: '\f00d'; } /* '' */
.icon-data-science-inv:before { content: '\f017'; } /* '' */
.icon-globe:before { content: '\f018'; } /* '' */
.icon-globe-inv:before { content: '\f019'; } /* '' */
.icon-math:before { content: '\f01a'; } /* '' */
.icon-math-circled-empty:before { content: '\f01b'; } /* '' */
.icon-math-circled:before { content: '\f01c'; } /* '' */
.icon-paper-plane:before { content: '\f01d'; } /* '' */
.icon-paper-plane-alt2:before { content: '\f01e'; } /* '' */
.icon-paper-plane-alt:before { content: '\f01f'; } /* '' */
.icon-color-adjust:before { content: '\f020'; } /* '' */
.icon-hash:before { content: '\f029'; } /* '' */
.icon-connected-object:before { content: '\f035'; } /* '' */
.icon-ruler:before { content: '\f044'; } /* '' */
.icon-vector:before { content: '\f045'; } /* '' */
.icon-dribbble-circled:before { content: '\f04f'; } /* '' */
.icon-dribbble:before { content: '\f050'; } /* '' */
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-github-circled-alt:before { content: '\f053'; } /* '' */
.icon-github-circled:before { content: '\f054'; } /* '' */
.icon-github:before { content: '\f055'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-twitter-circled:before { content: '\f057'; } /* '' */
.icon-twitter:before { content: '\f058'; } /* '' */
.icon-gplus-circled:before { content: '\f059'; } /* '' */
.icon-gplus:before { content: '\f05a'; } /* '' */
.icon-linkedin-circled:before { content: '\f05b'; } /* '' */
.icon-linkedin:before { content: '\f05c'; } /* '' */
.icon-instagram:before { content: '\f05d'; } /* '' */
.icon-instagram-circled:before { content: '\f05e'; } /* '' */
.icon-mfg-logo:before { content: '\f05f'; } /* '' */
.icon-mfg-logo-circled:before { content: '\f060'; } /* '' */
.icon-inbox-1:before { content: '\f070'; } /* '' */
.icon-hdd:before { content: '\f084'; } /* '' */
.icon-fontsize:before { content: '\f088'; } /* '' */
.icon-soundcloud:before { content: '\f089'; } /* '' */
.icon-soundcloud-circled:before { content: '\f08a'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-left-circled:before { content: '\f0a8'; } /* '' */
.icon-docs-1:before { content: '\f0c5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud-1:before { content: '\f0ee'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-doc-text-1:before { content: '\f0f6'; } /* '' */
.icon-plus-squared-1:before { content: '\f0fe'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-reply-1:before { content: '\f112'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-keyboard-1:before { content: '\f11c'; } /* '' */
.icon-flag-empty:before { content: '\f11d'; } /* '' */
.icon-flag-checkered:before { content: '\f11e'; } /* '' */
.icon-code-1:before { content: '\f121'; } /* '' */
.icon-reply-all-1:before { content: '\f122'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-direction-1:before { content: '\f124'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-help-1:before { content: '\f128'; } /* '' */
.icon-info-1:before { content: '\f129'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-minus-squared-1:before { content: '\f146'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.icon-export-alt:before { content: '\f14d'; } /* '' */
.icon-compass-1:before { content: '\f14e'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-doc-text-inv-1:before { content: '\f15c'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-file-archive:before { content: '\f1c6'; } /* '' */
.icon-file-audio:before { content: '\f1c7'; } /* '' */
.icon-file-video:before { content: '\f1c8'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-share-1:before { content: '\f1e0'; } /* '' */
.icon-share-squared:before { content: '\f1e1'; } /* '' */
.icon-bell-off:before { content: '\f1f6'; } /* '' */
.icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.icon-trash-1:before { content: '\f1f8'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-joystick:before { content: '\f514'; } /* '' */
.icon-fire:before { content: '\f525'; } /* '' */
.icon-chart-bar:before { content: '\f526'; } /* '' */
.icon-spread:before { content: '\f527'; } /* '' */
.icon-spinner1:before { content: '\f528'; } /* '' */
.icon-spinner2:before { content: '\f529'; } /* '' */
